*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html{
  font-size: 62.5%;
}

@media screen and ( min-width: 350px ){

  .card{
    width: 30rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    margin-bottom: auto;
    padding: 1rem;
    display: flex;
    background-color: white;
    box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  -webkit-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  -moz-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  }
  
  .card p{
    font-size: 2rem;
  }

  .card i{
    font-size: 6rem;
  }
 
  .card article{
    display: flex;
    flex-direction: column;
    text-align: end;
    min-width: 19rem;
  }

  
  .card button > img{
    width: 3rem;
    height: 3rem;
    align-self: center;
  }
  .card button{
    margin-right: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  -webkit-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  -moz-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  }
  
  }


@media screen and ( min-width: 599px ){

  .card{
    width: 50rem;
    height: 33rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    margin-bottom: auto;
    padding: 1rem;
    display: flex;
    background-color: white;
    box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  -webkit-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  -moz-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  }
  
  .card p{
    font-size: 2rem;
  }
 
  .card i{
    font-size: 8rem;
  }
  .card article{
    display: flex;
    flex-direction: column;
    text-align: end;
    min-width: 39rem;
  }

  button{
    margin-right: 20rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  -webkit-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  -moz-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
  
  }
  .card button > img{
    width: 3rem;
    height: 3rem;
    align-self: center;
  }
  
  }



@media screen and ( min-width: 830px ){

.card{
  width: 80rem;
  height: 23rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35vh;
  margin-bottom: auto;
  padding: 1rem;
  display: flex;
  background-color: white;
  box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
-webkit-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
-moz-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
}

.card p{
  font-size: 2rem;
}
.card i{
  font-size: 9rem;
}

.card article{
  display: flex;
  flex-direction: column;
  text-align: end;
  min-width: 70rem;
}

.card button{
  border-radius: 50%;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
-webkit-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
-moz-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);

}

.card button > img{
  width: 3rem;
  height: 3rem;
  align-self: center;
}

}